<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace= "layout/head :: header"></head>
<body>
	<div class="container jumbotron">
		<form class="form-inline" th:action="@{/login/ingresar}" th:method="post">					
			<div class="form-group mx-sm-3 mb-2">	
				<input type="text" class="form-control" name="usuario" placeholder="Nombre de usuario"></input>
				<input type="password" class="form-control" name="clave" placeholder="Contraseña"></input>
			</div>
			<button type="submit" class="btn btn-success mb-2">Ingresar</button>
		</form>
	</div>
			
</body>
</html>