<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/head :: header">
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="container">
			<h1>Gestión de Lugar Reserva</h1>
			<form th:action="@{/lugares-reserva/guardar}" th:object="${lugarReservaEntidad}" method="post">
				<div th:object="${lugarReservaEntidad}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>					
				<div class="form-group">
					<label for="nombreLugar">Nombre Lugar de la reserva *</label>
					<input type="text" class="form-control" id="nombreLugar" th:field="*{nombreLugar}"  placeholder="Nombre lugar de la reserva" th:errorclass="form-control-danger">
					<small th:if="${#fields.hasErrors('nombreLugar')}" th:errors="*{nombreLugar}" class="form-text text-danger"></small>
				</div>
				<div class="form-group">
					<label for="descripcion">Descripción Lugar *</label>
					<input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" placeholder="Descripción del lugar">
					<small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="form-text text-danger"></small>
				</div>				
				<div class="custom-file">
					<label class="custom-file-label" for="foto">Foto del lugar</label>
					<input type="file" class="custom-file-input" id="foto">
				</div>
				<div class="form-group">
    				<label for="propiedad">Propiedad a la que pertenece *</label>
    				<select class="form-control" id="propiedad" th:field="*{propiedad.id}">
    					<option value=""> Seleccionar</option>
				      	<option th:each="propiedad: ${propiedades}"  th:value="${propiedad.id}" th:text ="${propiedad.nombrePropiedad}"></option>
    				</select>
    				<small th:if="${#fields.hasErrors('propiedad')}" th:errors="*{propiedad}" class="form-text text-danger"></small>
  				</div>
				<input type="hidden" class="form-control" th:field="*{id}"></input>
				<button type="submit" class="btn btn-success mb-2">Guardar</button>
			</form>
		</div>
		
		<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nombre Lugar</th>
					<th scope="col">Descripción</th>
					<th scope="col">Propiedad</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lugarReserva: ${lugaresReserva}">
					<td th:text="${lugarReserva.nombreLugar}"></td>
					<td th:text="${lugarReserva.descripcion}"></td>
					<td th:text="${lugarReserva.propiedad.nombrePropiedad}"></td>
					<td>
						<a class="btn btn-danger" th:href="@{/lugares-reserva/eliminar/} + ${lugarReserva.id}">Eliminar</a> 
						<a class="btn btn-primary" th:href="@{/lugares-reserva/editar/} + ${lugarReserva.id}">Actualizar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</body>
</html>